---
layout: default
---
<div class="clearfix faUnitCard">
    <div class="clearfix faUnitHeader">
        <div class="faRoleIcon"></div>
        <div class="faUnitName">{{page.name}}</div>
    </div>
    <div class="clearfix faUnitStats">
        <div class="clearfix faStatsHeader">
            <div class="faStatHeader" data-stat="name">NAME</div>
            <div class="faStatHeader" data-stat="movement">M</div>
            <div class="faStatHeader" data-stat="weaponSkill">WS</div>
            <div class="faStatHeader" data-stat="ballisticSkill">BS</div>
            <div class="faStatHeader" data-stat="strength">S</div>
            <div class="faStatHeader" data-stat="toughness">T</div>
            <div class="faStatHeader" data-stat="wounds">W</div>
            <div class="faStatHeader" data-stat="initiative">I</div>
            <div class="faStatHeader" data-stat="attacks">A</div>
            <div class="faStatHeader" data-stat="leadership">Ld</div>
            <div class="faStatHeader" data-stat="intelligence">Int</div>
            <div class="faStatHeader" data-stat="cool">Cl</div>
            <div class="faStatHeader" data-stat="willpower">Wp</div>
        </div>
        {% for item in page.models %}
        {% assign model = site.models | where: "modelid", item | first %}
        <div class="clearfix faStatsBody">
            <div class="faStatBody" data-stat="name">{{model.NAME}}</div>
            <div class="faStatBody" data-stat="movement">{{model.M}}</div>
            <div class="faStatBody" data-stat="weaponSkill">{{model.WS}}</div>
            <div class="faStatBody" data-stat="ballisticSkill">{{model.BS}}</div>
            <div class="faStatBody" data-stat="strength">{{model.S}}</div>
            <div class="faStatBody" data-stat="toughness">{{model.T}}</div>
            <div class="faStatBody" data-stat="wounds">{{model.W}}</div>
            <div class="faStatBody" data-stat="initiative">{{model.I}}</div>
            <div class="faStatBody" data-stat="attacks">{{model.A}}</div>
            <div class="faStatBody" data-stat="leadership">{{model.Ld}}</div>
            <div class="faStatBody" data-stat="intelligence">{{model.Int}}</div>
            <div class="faStatBody" data-stat="cool">{{model.Cl}}</div>
            <div class="faStatBody" data-stat="willpower">{{model.Wp}}</div>
        </div>
        {% endfor %}
    </div>

    <div class="clearfix faAbilities">
        <div class="faSectionTitle">ABILITIES:</div>
        {{content}}
    </div>

</div>
